$primary: #008d47;
$primaryHover: #018040;
$primaryDark: #018040;
$primaryDarkHover: #008d47;
$secondary: #e75d00;
$secondaryHover: #d65600;
$secondaryDark: #d65600;
$secondaryDarkHover: #e75d00;
$background: #ffffff;
$backgroundDark: #0a0a0a;
$foreground: #171717;
$foregroundDark: #ededed;
$color: #4e4e4e;
$colorDark: #8a8a8a;
$success: #24a32e;
$successDark: #00ca11;
$info: #00b7ff;
$warning: #ff9100;
$danger: #ff1818;
$light: #ffffff;
$dark: #0a0a0a;
$border: #e4e4e4;
$borderDark: #4e4e4e;
$shade: #f1f1f1;
$shadeDark: #4d4d4d;
$btn-color: #ffffff;
$btn-active-color: #ffffff;
$rating: #ffb11e;
$overlay: #00000070;
$overlayDark: #ffffff50;
$backdrop: #ffffff10;
$backdropDark: #00000010;
$successBackdrop: #0a701380;
$successBackdropDark: #10861a80;
$errorBackdrop: #ff181880;
$errorBackdropDark: #ff181880;
$placeholder: #9c9c9c;
$placeholderDark: #4d4d4d;
$base-size: 16;
$primaryFont: var(--font-lexend);
$secondaryFont: var(--font-bimbo);